/*  CSS custom properties */

:root {
  --primary-color: #4834d4;
  --success-color: #6ab04c;
  --warning-color: #f0932b;
  --danger-color: #eb4d4b;

  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f2f2f2;

  --dark-color: #909090;
  --dark-second-color: #f5f6fa;
  --dark-background: #232420;
  --dark-second-background: #181818;
}

/* Dark and light mode */
.light {
  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);
}

.dark {
  --main-bg-color: var(--dark-background);
  --second-bg-color: var(--dark-second-background);
  --main-color: var(--dark-color);
  --second-color: var(--dark-second-color);
}

.light .logo-dark,
.light .light-icon {
  display: none;
}

.dark .logo-light,
.dark .dark-icon {
  display: none;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

/* Body */
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans" sans-serif;
  background: var(--main-bg-color);
  color: var(--main-color);
  margin: 0;
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  float: left;
  text-align: center;
  padding: 1.313rem 0.625rem;
  text-decoration: none;
  font-size: 17;
  color: var(--second-color);
  position: relative;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar i {
  font-size: 1.4rem;
}

.navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.navbar-search input {
  background: var(--second-bg-color);
  border: none;
  padding: 12px 50px 12px 50px;
  width: 100%;
  outline: none;
  color: var(--main-color);
  border-radius: 1.25rem;
}

.navbar-search i {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  color: var(--second-color);
  cursor: pointer;
}

.logo {
  height: 3.75rem;
  padding: 0.625rem;
}

.avt img {
  width: 2.438rem;
  height: 2.438rem;
  border-radius: 50%;
}

.avt {
  padding: 0.688rem;
}

.navbar-badge {
  font-size: 0.6rem;
  padding: 0.125rem 0.25rem;
  font-weight: 300;
  position: absolute;
  right: 0.313rem;
  top: 0.563rem;
  color: #ffffff;
  background: var(--danger-color);
  border-radius: 0.313rem;
}

/* Sidebar */
.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 65px;
  background: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1 px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.5s;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.sidebar-nav-link i {
  font-size: 1.5rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.sidebar-nav-link:hover {
  background: var(--second-bg-color);
}

.sidebar-nav-link.active {
  background: var(--second-bg-color);
  color: var(--danger-color);
}

.sidebar-nav-link.active div {
  border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
  color: var(--danger-color);
  margin-left: -5px;
}

.sidebar-expand .sidebar {
  width: 250px;
}

.sidebar-expand .wrapper {
  margin-left: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row:after,
.row:before {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

.wrapper {
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
  background: var(--second-bg-color);
  transition: margin-left 0.5s;
}
